.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  align-items: center;
  min-height: 300px;
}
.slider {
  height: auto;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 1024px;
}

.item .title {
  font-weight: bold;
  margin: 1rem;
}

.next,
.prev {
  font-family: monospace;
  font-size: 5rem;
  background: none;
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255, 0.5);
}
.prev {
  transform: rotate(-180deg);
}
.next:hover {
  text-shadow: 2px 2px 2px rgb(100, 100, 100);
}
.prev:hover {
  text-shadow: 2px -2px 2px rgb(100, 100, 100);
}

.item {
  flex: 1 0 100%;
  min-height: 200px;
  text-align: center;
  height: auto;
  color: #fff;
}



@media only screen and (min-width: 360px) and (orientation: portrait) {
  .item {
    flex: 1 0 100%;
  }
  .slider {
    width: 10rem;
    margin: 2rem;
  }
  .item img {
    height: 30rem;
  }
  .item .title{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2rem;
  }
  .next,
  .prev {
    font-size: 16rem;
  }
  .wrapper {
    margin: 4rem auto;
  }
}
@media  (min-width: 361px) and (max-width: 1199px) {
  .item {
    flex: 1 0 50%;
  }
  .next,
  .prev {
    font-size: 6rem;
  }
  .item img {
    height: 13rem;
  }
  .slider {
    width: 30rem;
    margin: 2rem;
  }
  .wrapper {
    margin: 0 auto;
  }
  .item img {
    /* height: 15rem; */
  }
  .item .title{
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px)  {
  .item {
    flex: 1 0 33%;
  }
  .next,
  .prev {
    font-size: 4rem;
  }
  .item img {
    height: 10rem;
  }
  .item .title{
    font-size: 1rem;
  }
  .wrapper {
    margin: 0 auto;
  }
  .slider {
    width: 100%;
    margin: 0rem;
  }
}